[phases.setup]
nixPkgs = ["nodejs-18_x", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = [
  "cd ../shared && pnpm build",
  "cd ../api && pnpm prisma generate",
  "pnpm build"
]

[start]
cmd = "pnpm start"
